/* Empty. Add your own CSS if you like */
.MainBox {
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.MainBox-item-center {
  order: 0;
    flex: 0 1 auto;
    align-self: auto;
}

.logo {
	max-width: 100%;
}