/* Empty. Add your own CSS if you like */
.MainBox {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #22AAFF;
}

.MainBox-item-center {
	order: 0;
  flex: 0 1 auto;
  align-self: auto;
}

.SubBox {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-content: center;
	align-items: center;
}

.SubBox-item-center {
	order: 0;
	flex: 0 1 auto;
	align-self: auto;
}

.logo {
	max-width: 100%;
}
