/* Ionic Scroll */
.scroll-content {
	display: table !important;
	width: 100% !important;
	height: 100% !important;
}
.scroll {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

/* Content */
.Background {
	background-color: #22AAFF;
}

.SubBox {
	display: flex;
	justify-content: space-around;
}

.logo {
	max-width: 90%;
}