<ion-view view-title="Blog">
	<ion-content class="padding">
		<div class="list">
			<a class="item item-thumbnail-left" href="#" ng-click="article('test')">
				 <img ng-src="./img/ionic.png" />
				<h2>Article 1</h2>
				<h4>Ceci est le resumé d'un article très intéressant et fort instructif, j'ai nommé Article 1</h4>
			</a>
			<a class="item item-thumbnail-left" href="#" ng-click="article('test')">
				 <img ng-src="./img/ionic.png" />
				<h2>Article 1</h2>
				<h4>Ceci est le resumé d'un article très intéressant et fort instructif, j'ai nommé Article 1</h4>
			</a>
			<a class="item item-thumbnail-left" href="#" ng-click="article('test')">
				 <img ng-src="./img/ionic.png" />
				<h2>Article 1</h2>
				<h4>Ceci est le resumé d'un article très intéressant et fort instructif, j'ai nommé Article 1</h4>
			</a>
			<a class="item item-thumbnail-left" href="#" ng-click="article('test')">
				 <img ng-src="./img/ionic.png" />
				<h2>Article 1</h2>
				<h4>Ceci est le resumé d'un article très intéressant et fort instructif, j'ai nommé Article 1</h4>
			</a>
			<a class="item item-thumbnail-left" href="#" ng-click="article('test')">
				 <img ng-src="./img/ionic.png" />
				<h2>Article 1</h2>
				<h4>Ceci est le resumé d'un article très intéressant et fort instructif, j'ai nommé Article 1</h4>
			</a>
			<a class="item item-thumbnail-left" href="#" ng-click="article('test')">
				 <img ng-src="./img/ionic.png" />
				<h2>Article 1</h2>
				<h4>Ceci est le resumé d'un article très intéressant et fort instructif, j'ai nommé Article 1</h4>
			</a>
			<a class="item item-thumbnail-left" href="#" ng-click="article('test')">
				 <img ng-src="./img/ionic.png" />
				<h2>Article 1</h2>
				<h4>Ceci est le resumé d'un article très intéressant et fort instructif, j'ai nommé Article 1</h4>
			</a>
			<a class="item item-thumbnail-left" href="#" ng-click="article('test')">
				 <img ng-src="./img/ionic.png" />
				<h2>Article 1</h2>
				<h4>Ceci est le resumé d'un article très intéressant et fort instructif, j'ai nommé Article 1</h4>
			</a><a class="item item-thumbnail-left" href="#" ng-click="article('test')">
				 <img ng-src="./img/ionic.png" />
				<h2>Article 1</h2>
				<h4>Ceci est le resumé d'un article très intéressant et fort instructif, j'ai nommé Article 1</h4>
			</a>
			<a class="item item-thumbnail-left" href="#" ng-click="article('test')">
				 <img ng-src="./img/ionic.png" />
				<h2>Article 1</h2>
				<h4>Ceci est le resumé d'un article très intéressant et fort instructif, j'ai nommé Article 1</h4>
			</a>
			<a class="item item-thumbnail-left" href="#" ng-click="article('test')">
				 <img ng-src="./img/ionic.png" />
				<h2>Article 1</h2>
				<h4>Ceci est le resumé d'un article très intéressant et fort instructif, j'ai nommé Article 1</h4>
			</a>
			<a class="item item-thumbnail-left" href="#" ng-click="article('test')">
				 <img ng-src="./img/ionic.png" />
				<h2>Article 1</h2>
				<h4>Ceci est le resumé d'un article très intéressant et fort instructif, j'ai nommé Article 1</h4>
			</a>
			<a class="item item-thumbnail-left" href="#" ng-click="article('test')">
				 <img ng-src="./img/ionic.png" />
				<h2>Article 1</h2>
				<h4>Ceci est le resumé d'un article très intéressant et fort instructif, j'ai nommé Article 1</h4>
			</a>
			<a class="item item-thumbnail-left" href="#" ng-click="article('test')">
				 <img ng-src="./img/ionic.png" />
				<h2>Article 1</h2>
				<h4>Ceci est le resumé d'un article très intéressant et fort instructif, j'ai nommé Article 1</h4>
			</a>
			<a class="item item-thumbnail-left" href="#" ng-click="article('test')">
				 <img ng-src="./img/ionic.png" />
				<h2>Article 1</h2>
				<h4>Ceci est le resumé d'un article très intéressant et fort instructif, j'ai nommé Article 1</h4>
			</a>
			<a class="item item-thumbnail-left" href="#" ng-click="article('test')">
				 <img ng-src="./img/ionic.png" />
				<h2>Article 1</h2>
				<h4>Ceci est le resumé d'un article très intéressant et fort instructif, j'ai nommé Article 1</h4>
			</a>
		</div>
	</ion-content>
</ion-view>
